@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/accordion.scss";

@font-face {
	font-family: "Nohemi";
	src: url("/Nohemi-VF.ttf") format("truetype-variations");
	font-weight: 1 999;
	font-style: normal;
}

// TAILWIND:BASE
@layer base {
	html {
		@apply scroll-smooth tracking-tight leading-relaxed;
	}
	body {
		@apply antialiased flex flex-col min-h-screen text-black font-sans font-light;
	}
	main {
		@apply flex-grow flex flex-col w-full overflow-hidden; 
	}
	a {
		transition: 0.3s;
	}
	// TYPOGRAPHY 
	.headline {
		&-01 {
			@apply text-[clamp(60px,6.5vw,120px)] font-semibold leading-[.9];
		}
		&-02 {
			@apply text-[clamp(48px,5.5vw,90px)] font-semibold leading-[.9];
		}
		&-03 {
			@apply text-[clamp(32px,4.5vw,64px)] font-semibold leading-[.9];
		}
		&-04 {
			@apply text-[clamp(24px,3.75vw,48px)] font-semibold leading-[.9];
		}
	}	
	.caps {
		@apply font-semibold text-14 uppercase tracking-widest;
	}
}

// TAILWIND:UTILITIES
@layer utilities {
	.container-base {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.container {
		@apply container-base px-6;
		max-width: 1440px;
		&-full {
			@apply container-base px-6;
			max-width: 100%;
		}
		&-1280 {
			@apply container-base px-6;
			max-width: 1280px;
		}
		&-1060 {
			@apply container-base px-6;
			max-width: 1060px;
		}
		&-960 {
			@apply container-base px-6;
			max-width: 960px;
		}
		&-768 {
			@apply container-base px-6;
			max-width: 768px;
		}
		&-700 {
			@apply container-base px-6;
			max-width: 700px;
		}
	}
	.absolute-center {
		@apply absolute top-1/2 -translate-y-1/2;
	}
	.invisible {
		opacity: 0;
		visibility: hidden;
	}
	.visible {
		opacity: 1;
		visibility: visible;
	}
	.transition-smooth {
		transition: 0.3s;
	}
	.grid-layout {
		@apply grid grid-cols-12 w-full md:grid-cols-10;
	}
	.grid-span-full {
		@apply col-start-1 col-span-full;
	}
	.grid-span-xl {
		@apply col-start-2 col-end-10 md_min:col-end-12;
	}
	.kill-transform {
		transform: none !important;
	}
} 

@layer components {
	.button {
		@apply inline-block py-2 px-10 w-fit font-medium bg-black text-white rounded-3xl border-[2px] border-black supports-hover:hover:bg-transparent supports-hover:hover:text-[rgba(45,45,45,0.5)];
	}
	//FORM
	.form {
		&__input {
			&-line {
				@apply inline-flex leading-normal rounded-none outline-none bg-transparent border-b-2 px-1 h-7 placeholder:text-[rgba(45,45,45,0.5)] md:h-6;
			}
		}
	}
	//TYPOGRAPHY SHIFT
	[data-viewport="typography-shift"] {
		@apply flex relative overflow-hidden;
		span {
			@apply inline-block mb-1;
		}
		& > span {
			@apply opacity-0;
		}
	}
	//SHIFT UP
	[data-viewport="shift-up"] {
		@apply opacity-0 translate-y-full;
	}
	//SCALE IN
	[data-viewport="scale-in"] {
		@apply opacity-0 scale-105;
	}
	//FADE IN
	[data-viewport="fade-in"] {
		@apply opacity-0;
    -webkit-transform:translate3d(0,0,0);
	} 
}

body.touchpoints {
	min-height: -webkit-fill-available;
}

// CUSTOM SCROLLBAR
*::-webkit-scrollbar {
	width: 0.2em;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
	background-color: #000000;
	outline: 0px solid #000000;
	width: 0.1em;
}