---
import { useSanityClient } from "astro-sanity";

import { urlForImage } from "../utilities/sanityImage.js";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

export const prerender = true;

const data = await useSanityClient().fetch(`
  *[_type=='page' && slug.current == "landing"][0] {
	..., 
    content[] {
      ...
	}	
  }
`);

const { content } = data;

const featuredImage = content[0].images[0];
---

<style>
	section {
		min-height: 600px;
	}
	@media (max-width: 479px) and (orientation: portrait){
		section {
			min-height: auto;
		}
	}
	@media (min-height: 600px) and (orientation: landscape){
		section {
			min-height: 800px;
		}
	}
</style>

<Layout>
	<section class="flex flex-col flex-grow">
		<div class="grid-layout flex-grow grid-rows-[auto_1fr]">
			<div class="pt-32 col-start-2 col-span-10 md:pt-24">
				<h1
					class="text-[clamp(50px,6.5vw,120px)] leading-[.9] relative z-20 -mb-[3vw] md:-mb-[7vw]"
				>
					<span class="typography-shift block">
						<span>Let's build</span>
					</span>
					<span class="typography-shift block" data-delay=".15">
						<span>
							something <span class="font-medium"
						>great.</span>
						</span>
					</span>
				</h1>
			</div>
			<div class="relative col-start-3 col-span-10">
				<div
					class="absolute -top-[10vw] -left-[10vw] w-[clamp(200px,30vw,30vw)] h-[clamp(200px,30vw,30vw)] rounded-full bg-[#dce257] blur-[100px] md:blur-[60px] md:-top-[15vw] md:-left-[15vw]"
				>
				</div>
				<!-- <div class="grid grid-cols-10 w-full absolute z-20 bottom-0 right-0">
					<div class="col-start-9">
						<div class="-rotate-90 origin-left relative">
							<div class="absolute top-full right-0 w-full">2</div>
						</div>
					</div>
				</div> -->
				<picture>
					<source
						srcset={urlForImage(featuredImage.asset)
							.format("webp")
							.quality(80)
							.url()}
						type="image/webp"
						media="(min-width: 1200px)"
					/>
					<source
						srcset={urlForImage(featuredImage.asset)
							.maxWidth(1200)
							.format("webp")
							.quality(80)
							.url()}
						type="image/webp"
						media="(min-width: 768px)"
					/>
					<source
						srcset={urlForImage(featuredImage.asset)
							.maxWidth(800)
							.format("webp")
							.quality(80)
							.url()}
						type="image/webp"
						media="(min-width: 479px)"
					/>
					<source
						srcset={urlForImage(featuredImage.asset)
							.maxWidth(500)
							.format("webp")
							.quality(60)
							.url()}
						type="image/webp"
						media="(max-width: 478px)"
					/>
					<img
						class={`w-full h-full object-cover absolute z-10`}
						src={urlForImage(featuredImage.asset)
							.maxWidth(800)
							.quality(80)
							.url()}
						width="1920"
						height="1080"
						alt={featuredImage.alt}
						srcset={`${urlForImage(featuredImage.asset)
							.maxWidth(800)
							.quality(80)
							.url()} 479w,
						${urlForImage(featuredImage.asset).maxWidth(1200).quality(80).url()} 768w,
						${urlForImage(featuredImage.asset).maxWidth(1920).quality(80).url()} 1200w`}
						sizes="(max-width: 768px) 100vw, (max-width: 1200px) 1400px, 1920px"
					/>
				</picture>
			</div>
		</div>
	</section>
</Layout>
