@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~swiper/css/bundle";
@import "~swiper/css/effect-fade";

@font-face {
	font-family: "SculpinBold";
	src: url("/Sculpin-Bold.woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "HumaneMedium";
	src: url("/Humane-Medium.woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "HumaneBold";
	src: url("/Humane-Bold.woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ApfelGrotezk";
	src: url("/ApfelGrotezk-Regular.woff");
	font-weight: normal;
	font-style: normal;
}

// TAILWIND:BASE
@layer base {
	html {
		@apply scroll-smooth tracking-tight leading-normal;
	}
	body {
		@apply antialiased flex flex-col min-h-screen text-black dark:text-white bg-neutral dark:bg-black;
	}
	main {
		@apply flex-grow;
	}
	a {
		transition: 0.3s;
	}
	.button {
		@apply inline-block rounded-none appearance-none outline-none bg-black text-white border border-black tracking-widest w-auto p-3 px-6 min-h-[48px] cursor-pointer transition-smooth supports-hover:hover:bg-white supports-hover:hover:text-black;
		&[disabled] {
			@apply pointer-events-none opacity-60;
		}
	}
	.text-link {
		@apply inline-block relative pb-1 overflow-hidden;
		&:after {
			content: "";
			@apply h-[1px] w-full bg-black absolute bottom-[2px] left-0 transition-smooth;
		}
		@media (hover) {
			&:hover:after {
				@apply -translate-x-full;
			}
		}
	}
	.arrow-link {
		@apply inline-flex font-heading-medium uppercase text-[clamp(40px,8vw,60px)] leading-[.75];
		&:after {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='46' height='42' viewBox='0 0 46 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.625 7.875V10.5H32.4731L8.625 32.2744L10.6519 34.125L34.5 12.3506V34.7812H37.375V7.875H8.625Z' fill='%232C2C2C'/%3E%3C/svg%3E%0A");
			background-size: 53px;
			@apply inline-block ml-2 w-12 h-12 bg-no-repeat bg-center relative bottom-1 transition-smooth;
			@screen md {
				background-size: 43px;
				@apply bottom-3;
			}
		}
		@media (hover) {
			&:hover:after {
				@apply rotate-[41.5deg];
			}
		}
	}
	html.dark {
		.arrow-link:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 46 42'%3E%3Cpath fill='%23fff' d='M8.625 7.875V10.5h23.848L8.625 32.274l2.027 1.851L34.5 12.351v22.43h2.875V7.875H8.625Z'/%3E%3C/svg%3E");
		}
	}
	.kill-transform {
		transform: none !important;
	}
	// TYPOGRAPHY
	.headline {
		@apply font-heading-bold uppercase text-[clamp(60px,10vw,100px)] leading-[.75];
		&-60 {
			@apply font-heading-bold uppercase text-[clamp(40px,8vw,60px)] leading-[.75];
		}
		&-80 {
			@apply font-heading-bold uppercase text-[clamp(50px,9vw,80px)] leading-[.75];
		}
		&-160 {
			@apply font-heading-bold uppercase text-[clamp(80px,16vw,160px)] leading-[.75];
			&-stroke {
				@apply font-heading-bold uppercase text-[clamp(80px,16vw,160px)] leading-[.75] text-transparent;
				-webkit-text-stroke-width: clamp(0.5px, 0.1vw, 1px);
				-webkit-text-stroke-color: theme("colors.black");
				&.text-white {
					color: transparent;
					-webkit-text-stroke-color: theme("colors.white");
				}
			}
		}
		&-massive {
			@apply font-heading-bold uppercase text-[clamp(200px,40vw,400px)] leading-[.75] text-transparent;
			-webkit-text-stroke-width: clamp(0.25px, 0.35vw, 2px);
			-webkit-text-stroke-color: theme("colors.black");
			&.text-white {
				color: transparent;
				-webkit-text-stroke-color: theme("colors.white");
			}
		}
	}
	.text-body-large {
		@apply font-sans text-20;
	}
	.text-body-small {
		@apply font-sans text-14;
	}
	.caps {
		@apply font-eyebrow text-14 tracking-wide uppercase;
		&-12 {
			@apply font-eyebrow text-12 tracking-wide uppercase;
		}
	}
}

// TAILWIND:UTILITIES
@layer utilities {
	.container-base {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.container {
		@apply container-base px-6;
		max-width: 1440px;
		&-full {
			@apply container-base px-6;
			max-width: 100%;
		}
		&-1280 {
			@apply container-base px-6;
			max-width: 1280px;
		}
		&-1060 {
			@apply container-base px-6;
			max-width: 1060px;
		}
		&-960 {
			@apply container-base px-6;
			max-width: 960px;
		}
		&-768 {
			@apply container-base px-6;
			max-width: 768px;
		}
		&-700 {
			@apply container-base px-6;
			max-width: 700px;
		}
	}
	.absolute-center {
		@apply absolute top-1/2 -translate-y-1/2;
	}
	.invisible {
		opacity: 0;
		visibility: hidden;
	}
	.visible {
		opacity: 1;
		visibility: visible;
	}
	.transition-smooth {
		transition: 0.3s;
	}
	.grid-layout {
		@apply grid grid-cols-12 w-full md:grid-cols-10;
	}
}

//MASONRY
.react-photo-album--photo {
	// @apply border border-white;
}

// CUSTOM SCROLLBAR
*::-webkit-scrollbar {
	width: 0.2em;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
	background-color: #000000;
	outline: 0px solid #000000;
	width: 0.1em;
}
