<section
	id="contact"
	class="fixed inset-0 z-[999] flex items-center justify-center backdrop-blur-md invisible transition-smooth"
>
	<div class="overlay fixed inset-0"></div>
	<div class="container-1060 relative z-10 text-[clamp(20px,2.5vw,40px)] font-medium py-8 overflow-auto max-h-full md:text-20 sm:text-18 xs:text-16">
		<form
			id="contact-form"
			name="contact"
			netlify-honeypot="bot-field"
			netlify
		>
			<div class="form-body">
				<p class="hidden">
					<label>
						Don’t fill this out if you’re human: <input
							name="bot-field"
						/>
					</label>
				</p>
				<p class="inline-flex flex-wrap items-end gap-3 gap-x-1.5 [&_span]:inline-flex sm:gap-y-1.5">
					<span>Hey,</span> <span>my</span> <span>name</span> <span>is</span> <input
						type="text"
						name="name"
						class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
						placeholder="Name"
						required
					/> <span>and</span> <span>I'm</span> <span>looking</span> <span>for</span> <select
						name="reason"
						class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
						required
					>
						<option value="New Home Build">New Home Build</option>
						<option value="Whole Home Renovation">Whole Home Renovation</option>
						<option value="Kitchen Renovation">Kitchen Renovation</option>
						<option value="Bathroom Renovation">Bathroom Renovation</option>
						<option value="Special Project">Special Project</option>
					</select> in <input
						type="text"
						name="location"
						class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
						placeholder="Location"
						required
					/> <span>. Ideally,</span> <span>I'd</span> <span>love</span> <span>to</span> <span>have</span> <span>the</span> <span>project</span> <span>start</span> <span>around</span> <input
						type="date"
						name="start_date"
						class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
						placeholder="Start Date"
						required
					/> <span>and</span> <span>end</span> <span>around</span> <input
						type="date"
						name="end_date"
						class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
						placeholder="End Date"
						required
					/> <span>. My</span> <span>current</span> <span>budget</span> <span>for</span> <span>the</span> <span>project</span> <span>is</span> <span>in</span> <span>the</span> <span>range</span> <span>of</span> <select
						name="budget"
						class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
						required
					>
						<option value="$250K - $500K">$250K - $500K</option>
						<option value="$500K - $1M">$500K - $1M</option>
						<option value="$1M - $2M">$1M - $2M</option>
						<option value="$2M - $5M">$2M - $5M</option>
						<option value="$5M - $10M">$5M - $10M</option>
					</select> <span>. Feel</span> <span>free</span> <span>to</span> <span>reach</span> <span>out</span> <span>to</span> <span>me</span> <span>at</span> <input
						type="email"
						name="email"
						class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
						placeholder="Email Address"
						required
					/> or at <input
                    type="tel"
                    name="phone"
                    class="form__input-line md_min:h-[clamp(30px,3.5vw,55px)] md_min:border-b-[clamp(1px,.25vw,4px)]"
                    placeholder="Phone Number"
                />.
					<button
						type="submit"
						class="button w-full mt-6 rounded-full">Send</button
					>
				</p>
			</div>
		</form>
	</div>
</section>

<script>
	//CONTACT POPUP
	const $contact = document.getElementById("contact");
	const $contactForm = document.getElementById("contact-form")
	const $overlay = document.querySelector("#contact .overlay");
	const $contactTriggers = document.querySelectorAll(".contact-trigger");
	const $reason = document.querySelector("[name='reason']");
	const $budget = document.querySelector("[name='budget']");
	const $startDate = document.querySelector("[name='start_date']");
	const $endDate = document.querySelector("[name='end_date']");
	$overlay.addEventListener("click", () => {
		$contact.classList.add("invisible");
	});
	$contactTriggers.forEach(($trigger) => {
		$trigger.addEventListener("click", (e) => {
            e.preventDefault();
			$contact.classList.remove("invisible");
		});
	});

    //DATE FUNCTIONS
    const today = new Date()
    Date.isLeapYear = function (year) { 
        return (((year % 4 === 0) && (year % 100 !== 0)) || (year % 400 === 0)); 
    };
    Date.getDaysInMonth = function (year, month) {
        return [31, (Date.isLeapYear(year) ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
    };
    Date.prototype.isLeapYear = function () { 
        return Date.isLeapYear(this.getFullYear()); 
    };
    Date.prototype.getDaysInMonth = function () { 
        return Date.getDaysInMonth(this.getFullYear(), this.getMonth());
    };    
    Date.prototype.addMonths = function (value) {
        var n = this.getDate();
        this.setDate(1);
        this.setMonth(this.getMonth() + value);
        this.setDate(Math.min(n, this.getDaysInMonth()));
        return this;
    };    
    $startDate.valueAsDate = today;
    $endDate.valueAsDate = today.addMonths(6);

	//UPDATE BUDGETS
	$reason.addEventListener("change", (e) => {
		const { value } = $reason;
		$budget.innerHTML = "";
		let selectHTML;
		switch (value) {
			case "New Home Build":
				selectHTML = document.createRange().createContextualFragment(`
					<option selected="selected" value="$250K - $500K">$250K - $500K</option>
					<option value="$500K - $1M">$500K - $1M</option>
					<option value="$1M - $2M">$1M - $2M</option>
					<option value="$2M - $5M">$2M - $5M</option>
					<option value="$5M - $10M">$5M - $10M</option>
				`)
				break;
			case "Whole Home Renovation":
				selectHTML = document.createRange().createContextualFragment(`
					<option selected="selected" value="$250K - $500K">$250K - $500K</option>
					<option value="$500K - $1M">$500K - $1M</option>
					<option value="$1M - $2M">$1M - $2M</option>
					<option value="$2M - $5M">$2M - $5M</option>
					<option value="$5M - $10M">$5M - $10M</option>
				`)
				break;
			case "Kitchen Renovation":
				selectHTML = document.createRange().createContextualFragment(`
					<option selected="selected" value="$250K - $500K">$250K - $500K</option>
					<option value="$500K - $1M">$500K - $1M</option>
					<option value="$1M - $2M">$1M - $2M</option>
					<option value="$2M - $5M">$2M - $5M</option>
					<option value="$5M - $10M">$5M - $10M</option>
				`)
				break;
			case "Bathroom Renovation":
				selectHTML = document.createRange().createContextualFragment(`
					<option selected="selected" value="$25K - $50K">$25K - $50K</option>
					<option value="$50K - $100K">$50K - $100K</option>
					<option value="$100K - $200K">$100K - $200K</option>
					<option value="$200K - $500K">$200K - $500K</option>
				`)
				break;
			case "Special Project":
				selectHTML = document.createRange().createContextualFragment(`
					<option selected="selected" value="$20K - $50K">$20K - $50K</option>
					<option value="$50K - $100K">$50K - $100K</option>
					<option value="$100K - $200K">$100K - $200K</option>
					<option value="$200K - $500K">$200K - $500K</option>
					<option value="$500K - $1M">$500K - $1M</option>
					<option value="$1M - $2M">$1M - $2M</option>
					<option value="$2M - $5M">$2M - $5M</option>
					<option value="$5M - $10M">$5M - $10M</option>
				`)
				break;
		}
		$budget.prepend(selectHTML);				
	})

	//FORM SUBMISSION
	const handleSubmit = (event) => {
		event.preventDefault();

		const myForm = event.target;
		const formData = new FormData(myForm);
		const formBody = myForm.querySelector(".form-body");

		fetch("/", {
			method: "POST",
			headers: { "Content-Type": "application/x-www-form-urlencoded" },
			body: new URLSearchParams(formData).toString(),
		})
			.then(() => {
				formBody.innerHTML =
					"<p class='text-center'>Thanks for your inquiry! We look forward to connecting with you.</p>";
				console.log("Form successfully submitted");
			})
			.catch((error) => alert(error));
	};
	$contactForm.addEventListener("submit", handleSubmit);

</script>
