<section
	id="contact"
	class="fixed inset-0 z-[999] flex items-center justify-center backdrop-blur-md invisible transition-smooth"
>
	<div class="overlay fixed inset-0"></div>
	<div class="container-1060 relative z-10 text-40 font-medium md:text-24">
		<form id="contact-form" name="contact" netlify-honeypot="bot-field" netlify>
            <div class="form-body">
                <p class="hidden">
                    <label>
                        Don’t fill this out if you’re human: <input
                            name="bot-field"
                        />
                    </label>
                </p>
                <p>
                    Hey, my name is <input
                        type="text"
                        name="name"
                        class="form__input-line md_min:h-11 md_min:border-b-[4px]"
                        placeholder="Name"
                        required
                    /> and I'm looking for <select
                        name="reason"
                        class="form__input-line md_min:h-11 md_min:border-b-[4px]"
                        required
                    >
                        <option value="Choice 1">Choice 1</option>
                        <option value="Choice 2">Choice 2</option>
                        <option value="Choice 3">Choice 3</option>
                        <option value="Choice 4">Choice 4</option>
                    </select>. Get in touch with me at <input
                        type="email"
                        name="email"
                        class="form__input-line md_min:h-11 md_min:border-b-[4px]"
                        placeholder="Email"
                        required
                    />.
                    <button type="submit" class="button w-full mt-6 rounded-full">Send</button>
                </p>
            </div>
		</form>
	</div>
</section>

<script>
	//CONTACT POPUP
	const $contact = document.getElementById("contact");
	const $overlay = document.querySelector("#contact .overlay");
	const $contactTriggers = document.querySelectorAll(".contact-trigger");
	$overlay.addEventListener("click", () => {
		$contact.classList.add("invisible");
	});
	$contactTriggers.forEach(($trigger) => {
		$trigger.addEventListener("click", () => {
			$contact.classList.remove("invisible");
		});
	});

	//FORM SUBMISSION
	const handleSubmit = (event) => {
		event.preventDefault();

		const myForm = event.target;
		const formData = new FormData(myForm);
        const formBody = myForm.querySelector(".form-body");

		fetch("/", {
			method: "POST",
			headers: { "Content-Type": "application/x-www-form-urlencoded" },
			body: new URLSearchParams(formData).toString(),
		})
			.then(() => {
                formBody.innerHTML = "<p class='text-center'>Thanks for your inquiry! We look forward to connecting with you.</p>";
                console.log("Form successfully submitted")
            })
			.catch((error) => alert(error));
	};

	document.getElementById("contact-form").addEventListener("submit", handleSubmit);
</script>
