---
import "../styles/components/footer.scss";
---

<footer class="footer">
    <div class="footer__bg grid-layout" data-viewport="fade-in">
        <div class="grid-span-xl"></div>
    </div>    
    <div class="grid-layout">
        <div class="grid-span-xl">
            <h2
                class="justify-center text-center headline-03 max-w-lg mx-auto mb-8"
                data-viewport="typography-shift">
                <span>Where passion meets precision.</span>
            </h2>
        </div>
    </div>
    <div class="grid-layout">
        <div class="grid-span-xl">
            <div class="grid md:gap-8 md:text-center md_min:items-center md_min:grid-cols-3">
                <a href="/" class="text-24 leading-none font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-[60px] h-[68px] [&_path]:fill-black md:mx-auto md:w-[34px] md:h-[38px]" viewBox="0 0 208.39 237.03"><g><path d="M205.1 112.53c0 8.28-.02 16.56.02 24.83 0 .93-.29 1.53-1.01 2.12-15.69 12.89-31.36 25.8-47.04 38.71-.27.23-.56.43-.91.7-5.5-5.16-10.97-10.28-16.52-15.49 21.77-17.44 43.47-34.82 65.17-52.2.1.05.19.1.29.15v1.18ZM126.31 18.19c-.34-.23-.65-.45-.97-.67-1.79-1.28-2.54-3.52-1.9-5.63.62-2.03 2.51-3.45 4.68-3.5 2.25-.05 4.16 1.24 4.91 3.33a5.016 5.016 0 0 1-4.09 6.68c-.35.05-.71.06-1.2.09l-1.43-.3ZM115.78 218.11c.26.87.29 9.85.04 11.1h-11.04v-11.1h11ZM115.78 201.79c.24.83.32 9.48.07 11.16h-10.94c-.26-.86-.32-9.6-.08-11.16h10.95ZM79.54 48.68c12.74-8.12 36.23-9.89 53.14.56-2.64 3.2-5.31 6.35-8.05 9.62-6.04-2.63-12.37-3.97-18.95-3.98-6.54-.01-12.85 1.23-18.98 3.86-2.44-3.42-4.8-6.74-7.16-10.06ZM87.45 218.24c.82-.26 9.53-.33 11.15-.08v11.03H87.58c-.25-.85-.35-8.6-.13-10.95ZM98.46 201.79c.25.81.32 9.47.07 11.16H87.6c-.27-.85-.34-9.51-.09-11.16h10.95Z"/><path d="M81.74 9.21c2.43-.48 4.67.61 5.69 2.77 1.1 2.35.44 4.47-2.18 6.68 3.82 4.99 7.65 9.98 11.62 15.17 2.6-8.1 5.13-15.98 7.67-23.9-2.97-1.71-4-3.61-3.42-6.08.52-2.19 2.49-3.77 4.79-3.85 2.15-.08 4.2 1.33 4.91 3.37.86 2.48-.05 4.48-3.02 6.52l9.85 23.92c2.99-5.31 5.77-10.44 8.66-15.62l1.43.3c-.03 1.01-.08 2.02-.08 3.04-.01 4.68 0 9.36 0 14.04-.01 1.48-.05 2.96-.09 4.43-.01.19-.06.38-.12.67-14.81-5.2-29.57-5.1-44.42.16V19.27c-1.81-.19-3.34-.78-4.35-2.29-.67-1.01-.94-2.11-.85-3.3.15-2.15 1.83-4.05 3.91-4.47ZM31.64 236.87c-.02-.2-.05-.39-.05-.59v-24.96c0-.23.09-.46.16-.79-1.59-1.33-3.21-2.69-4.83-4.05-8.68-7.25-17.36-14.51-26.07-21.75-.6-.5-.86-1.01-.86-1.82.03-8.44.02-16.88.02-25.31v-1.24c4.21 3.33 8.18 6.59 12.18 9.81 4.01 3.23 8.02 6.48 12.04 9.72 3.98 3.22 7.96 6.43 11.95 9.64 4 3.24 8.01 6.48 12.09 9.78 15.39-14.43 30.71-28.8 46.16-43.29-.4-.12-.64-.22-.89-.27-8.85-1.97-16.71-5.88-23.4-12.03-7.73-7.09-12.69-15.84-15.39-25.93-1.44-5.4-2.08-10.91-2.05-16.49.05-8.86 1.61-17.42 5.43-25.47 2.83-5.97 6.69-11.16 11.69-15.5.29-.26.6-.5 1.02-.84 4.65 5.03 9.28 10.04 14.02 15.18-.45.43-.87.83-1.29 1.22-3.36 3.16-6.05 6.8-7.93 11.03-2.28 5.12-3.03 10.5-2.65 16.04.5 7.4 2.91 14.06 7.89 19.66 4.16 4.68 9.33 7.72 15.39 9.23 7.46 1.87 14.86 1.66 22.04-1.11 10.21-3.95 16.46-11.46 18.94-22.05 1.68-7.19 1.28-14.29-1.58-21.17-1.93-4.67-4.92-8.58-8.63-11.96-.29-.27-.57-.54-.95-.9 4.67-5.06 9.3-10.07 13.98-15.14.28.2.54.37.78.56 7.08 6.02 11.88 13.54 14.68 22.35 2.45 7.71 3.22 15.62 2.69 23.68-.5 7.67-2.27 15-5.64 21.92-5.35 10.96-13.48 19.13-24.6 24.23-1.08.5-1.97 1.16-2.81 1.98-2.67 2.59-5.37 5.14-8.05 7.71-.15.14-.28.3-.41.44.52.76 40.73 34.32 43.55 36.34 15.93-13.01 31.9-26.05 48.01-39.2.04.47.1.77.1 1.06 0 8.52-.01 17.04.01 25.56.01.7-.22 1.17-.76 1.62-9.82 8.33-19.62 16.69-29.45 25-.79.66-1.07 1.32-1.06 2.33.04 7.92.02 15.84.02 23.76v1.3c-.09.04-.18.08-.26.12-25.6-20.73-51.19-41.46-76.87-62.25-22.74 21.04-45.44 42.04-68.1 63-.13-.04-.18-.04-.21-.06s-.05-.06-.06-.1Z"/><path d="M1.92 111.3c21.54 17.24 43.07 34.48 64.6 51.73.13.1.27.18.5.34l-16.54 15.51c-.22-.15-.39-.25-.54-.37-15.8-13.01-31.59-26.03-47.41-39.02-.75-.62-1.06-1.23-1.05-2.22.04-8.27.02-16.55.02-24.83v-1.12c.13-.06.16-.09.2-.09.04-.01.08 0 .12.02.04.01.07.02.1.05Z"/></g></svg>
                </a>
                <ul class="flex gap-8 items-center justify-center">
                    <li><a href="#about" class="caps">About</a></li>
                    <li><a href="#services" class="caps">Services</a></li>
                    <li><a href="#team" class="caps">Team</a></li>
                    <li><a href="#process" class="caps">Process</a></li>
                </ul>
                <p class="text-right xl:text-[12px] md:text-center">{`Copyright ${new Date().getFullYear()} Kingwood Builders`}</p>
            </div>
        </div>
    </div>
</footer>