---
import Wordmark from "/wordmark.svg";
---

<header class="py-8 absolute z-[999] w-full">
    <nav class="grid-layout">
        <div class="col-start-2 col-span-10 md:col-start-2 md:col-span-8">
            <div class="flex items-center justify-between">
                <a href="/" class="text-24 leading-none font-bold">Logo</a>
                <a href="#" class="contact-trigger text-24 leading-none font-bold inline-flex items-center">
                    <span>Get Started</span>
                    <svg class="w-7 ml-2" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="square" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                    </svg>                    
                </a>
            </div>
        </div>
    </nav>
</header>