---
import TextLineAnimate from "./TextLineAnimate.astro";
---

<section id="hero">
    <div class="container py-12 min-h-screen flex items-center justify-center">
        <h1 class="text-center"><TextLineAnimate inViewSelector="#hero" text="Hello world." /></h1>
    </div>
</section>