---
import { useSanityClient } from "astro-sanity";
import { urlForImage } from "../../utilities/sanityImage.js";

import Layout from "../../layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths() {
	const data = await useSanityClient().fetch(`
    *[_type=='project'] {
      ...
    }
  `);
	let paths = [];
	data.map(({ slug }) => paths.push({ params: { slug: slug.current } }));

	return paths;
}

const { slug } = Astro.params;

const data = await useSanityClient().fetch(`
*[_type=='project' && slug.current == '${slug}'][0] {
	...
}
`);

if (!data) return Astro.redirect("/404");
// console.log(data)
---

<Layout title={data.title}>
	<section class="py-40">
		<div class="grid-layout text-center">
			<div class="grid-span-xl">
				<h1
					class="typography-shift"
				>
					<span>{data.title}</span>
				</h1>
			</div>
		</div>
	</section>
</Layout>