---
import "../styles/global.scss";

import Header from "../components/Header.astro"
import GridLines from "../components/GridLines.astro";

import { useSanityClient } from 'astro-sanity';
import { HoverPrefetch } from 'astro-hover-prefetch';
const global = await useSanityClient().fetch(`*[_type=='global'][0]`);
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | ${global.site_title}` : global.site_title }</title>    
		<HoverPrefetch max={8} />
		<link rel="prefetch" href="/" as="document" >
	</head>
	<body>
		<Header />
		<main>
			<GridLines />
			<slot />
		</main>
		<script src="../scripts/global.js"></script>
	</body>
</html>
